/.vs
/Proyecto0/x64
/Proyecto0/x64/Debug
/Proyecto0/x64

Proyecto0/x64/Debug/Area.obj
Proyecto0/x64/Debug/Funcion.obj
Proyecto0/x64/Debug/Helpers.obj
Proyecto0/x64/Debug/Menu.obj
Proyecto0/x64/Debug/Proyecto0.exe.recipe
Proyecto0/x64/Debug/Proyecto0.obj
Proyecto0/x64/Debug/Proyecto0.tlog/CL.command.1.tlog
Proyecto0/x64/Debug/Proyecto0.tlog/Cl.items.tlog
Proyecto0/x64/Debug/Proyecto0.tlog/CL.read.1.tlog
Proyecto0/x64/Debug/Proyecto0.tlog/CL.write.1.tlog
Proyecto0/x64/Debug/Proyecto0.tlog/link.command.1.tlog
Proyecto0/x64/Debug/Proyecto0.tlog/link.read.1.tlog
Proyecto0/x64/Debug/Proyecto0.tlog/link.write.1.tlog
Proyecto0/x64/Debug/Proyecto0.tlog/Proyecto0.lastbuildstate
Proyecto0/x64/Debug/Servicio.obj
Proyecto0/x64/Debug/Submenu.obj
Proyecto0/x64/Debug/TipoUsuario.obj
Proyecto0/x64/Debug/Tiquete.obj
Proyecto0/x64/Debug/vc143.idb
Proyecto0/x64/Debug/vc143.pdb
Proyecto0/x64/Debug/Ventanilla.obj
x64/Debug/Proyecto0.exe
x64/Debug/Proyecto0.pdb
